h1, h2, h3, h4, h5, h6, li, p {
    font-family: 'Satoshi', sans-serif;
    font-display: swap;
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}
.video-tile {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.video-tile iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}
@media (max-width: 640px) {
    .video-gallery {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    .video-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
#gallery {
    padding: 20px;
  }

.gallery {
  width: 100%;
}
#gallery-images{
    padding: 20px;
}
.gallery-item {
  width: calc(33.333% - 10px); /* Adjust based on how many columns you want */
  margin-bottom: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Navbar fade-in from top */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Extend navbar fade-in with a delay */
.navbar-visible {
    animation: fadeInFromTop 0.4s ease-out forwards; /* Changed to 0.7s for smoother transition */
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    background-color: white;
    z-index: 1000;
    height: 5rem;
}
.nav-links {
    display: flex;
    justify-content: center;
    font-family: 'Satoshi', sans-serif;
}

.nav-links a {
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

/* Style the modal (full-screen) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    position: absolute;
    bottom: 20px; /* Adjust this value to control the spacing between the image and the caption */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-container,
.bg-white,
.text-gray-900,
.bg-gray-100,
.text-gray-700,
.bg-indigo-600,
.text-indigo-900 {
    transition: background-color 0.5s ease, color 0.5s ease;
}


/* Hover styles */
.navbar:hover {
    transition: all 0.1s ease-in;
    transform: scale(1.1);
}

/* Dark mode styles */
.dark-mode {
    background-color: #1a202c;
    color: #e2e8f0;
}

.dark .bg-white {
    background-color: #2d3748;
}

.dark .text-gray-900 {
    color: #f7fafc; /* Lighter text for better readability */
}

.dark .bg-gray-100 {
    background-color: #1c1f24; /* Slightly lighter background for contrast */
}

.dark .text-gray-700 {
    color: #a0aec0; /* Softer gray for a balanced look */
}


.dark .text-indigo-900 {
    color: #a3bffa; /* Softer indigo for text */
}
/* Navbar styles in dark mode */
.dark nav {
    background-color: #1a202c; /* Dark gray background for navbar */
}

/* Additional dark mode styling for the navbar */
.dark .nav-container {
    background-color: #1a202c; /* Ensuring the container background changes */
    color: #e2e8f0; /* Light text color for navbar links */
}

/* Light mode navbar */
.bg-white.bg-opacity-80 {
    background-color: rgba(255, 255, 255, 0.8) !important; /* Ensure this has priority */
}

/* Dark mode navbar */
.dark .bg-gray-900.dark:bg-opacity-80 {
    background-color: rgba(26, 32, 44, 0.8) !important; /* Ensure this has priority */
}

/* Sticky navbar style */
.sticky {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6) !important; /* Ensure transparency when sticky */
}

.dark .sticky {
    background-color: rgba(26, 32, 44, 0.6) !important; /* Ensure transparency when sticky in dark mode */
}



/* Additional styles to maintain readability with transparency */
.dark .nav-links a,
.dark .text-white {
    color: #e2e8f0; /* Ensure links are still readable */
}

.dark .nav-links a:hover {
    color: #a3bffa;
}




@keyframes motionBlur {
    0% {
        opacity: 0;
        transform: translateY(50px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes neonPulse {
    0% {
        box-shadow: 0 0 5px #4299e1, 0 0 10px #4299e1, 0 0 15px #4299e1, 0 0 20px #4299e1;
    }
    50% {
        box-shadow: 0 0 10px #63b3ed, 0 0 20px #63b3ed, 0 0 30px #63b3ed, 0 0 40px #63b3ed;
    }
    100% {
        box-shadow: 0 0 5px #4299e1, 0 0 10px #4299e1, 0 0 15px #4299e1, 0 0 20px #4299e1;
    }
}


#portfolio {
    padding-left: 50px;
    padding-right: 50px;
}

.portfolio-item {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease; /* Changed from 0.5s to 1s */
    position: relative;
    overflow: hidden;
}

.portfolio-item.animate {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-item:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease; /* Changed from 0.3s to 0.6s */
}
.portfolio-item {
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth scaling and shadow effect */
}
.portfolio-item img {
    height: 250px; /* Adjust this to control the image height */
    object-fit: cover; /* This ensures the image covers the area without distortion */
}

.portfolio-item .p-6 {
    flex-grow: 1; /* This allows the text content to fill the remaining space */
}
.portfolio-item:hover {
    transform: scale(1.05);  /* Slightly increase size on hover */
    transition: transform 0.3s ease;
    animation: neonPulse 1.5s infinite ease-in-out;  /* Pulsing glow effect */
}
.pi-text {
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.1s ease; /* Changed from 0.5s to 1s */
    font-family: 'Satoshi', sans-serif;
}
.pi-text:hover{
    opacity: 1;
}

/* Fade-in animation for the about section */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.section-fade {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition for opacity and transform */
}

/* Add the animation to the about section when it becomes visible in the viewport */
.section-fade.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Trigger the fade-in effect when the element is in view */
.section-fade {
    /* Ensure visibility of the element before applying animation */
    visibility: hidden;
}

.section-fade.visible {
    visibility: visible;
}

.scale-up {
    transition: transform 0.1s ease; /* Smooth transition for the scale effect */
}

.scale-up:active {
    transform: scale(1.13); /* Scale up by 10% when active (clicked) */
}



#mp-heading {
    padding: 2%;
}

/* styles.css */
.icon-list {
    list-style: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    display: flex; /* Flexbox for layout */
    gap: 10px; /* Space between icons */
}

.icon-list li {
    border: 0px solid #d4dbff; /* Add a border around the buttons */
    border-radius: 50%; /* Make it circular */
    padding: 2px; /* Padding inside the circle */
}

.icon-list img {
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out; /* Add transitions for both properties */
    width: 40px; /* Set icon size */
    height: auto; /* Maintain aspect ratio */
    filter: grayscale(); /* Apply monochrome effect on hover */
}

.icon-list img:hover {
    transform: scale(1.2, 1.2); /* Scale the image on hover */
    filter: none; 
}

.icon-container {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;     /* Centers items vertically */

}
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}
/* Text fade-in from left animation */
@keyframes fadeInFromLeft2 {
    0% {
        opacity: 0;
        transform: translateX(-50px);
        filter: blur(15px);
        backdrop-filter: blur(15px);
    }
    25% {
        opacity: 0.3;
        transform: translateX(-37.5px);
        filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    50% {
        opacity: 0.6;
        transform: translateX(-25px);
        filter: blur(7px);
        backdrop-filter: blur(7px);
    }
    75% {
        opacity: 0.8;
        transform: translateX(-12.5px);
        filter: blur(3px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
        backdrop-filter: blur(0);
    }
}

.text-fade-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeInFromLeft 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    will-change: opacity, transform, filter, backdrop-filter;
    transform: translate3d(0, 0, 0);

}

.text-fade-left-2 {
    opacity: 0;
    transform: translateX(-50%);
    animation: fadeInFromLeft2 0.5s ease-out forwards;
}

:root {
    --fade-distance: 50px;
    --fade-duration: 0.8s;
}

.fade-in-left {
    opacity: 0;
    animation: fadeInFromLeft 0.3s ease-out forwards; /* Even quicker animation */
}


.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Fade-in animation for the about section */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.section-fade {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.section-fade.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Specific styles for the about section */
#about {
    font-family: 'Satoshi', sans-serif;
    font-family: 'Satoshi', sans-serif, Arial, Helvetica;
}

/* Dark mode styles affecting the about section */
.dark .text-indigo-900 {
    color: #a3bffa; /* Softer indigo for text in dark mode */
}

.dark .text-gray-700 {
    color: #a0aec0; /* Softer gray for a balanced look in dark mode */
}

.dark .bg-white {
    background-color: #2d3748; /* Dark background for the about section in dark mode */
}

#about {
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}
/* Additional styles that could be applied to improve the about section */
#about h2 {
    font-size: 2rem;
    margin-bottom: 2.8rem;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 70ch;
    margin: 0 auto;
}

#about .skills-education {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

#about h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#about ul {
    list-style-type: none;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#about li {
    margin-bottom: 0.5rem;
    transition: transform 0.2s ease;
}

#about li:hover {
    transform: translateX(5px);
}

.auto-show {
    animation: autoShowAnimation both;
    animation-timeline: view(40% auto);
}
.auto-show-left {
    animation: autoShowAnimationLeft both;
    animation-timeline: view(80% auto);
}
.auto-show-left-mp {
    animation: autoShowAnimationLeft both;
    animation-timeline: view(200% 20%);
}
@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);

    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);

    }
}
@keyframes autoShowAnimationLeft {
    from{
        opacity: 0;
        transform: translateX(-50px);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSequence {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-sequence {
    opacity: 0;
}

.fade-in-sequence.animated {
    animation: fadeInSequence 0.5s ease-out forwards;
}

.image-hover {
    transition: transform 0.1s ease-out;
    display: block;
    width: 100%;
    height: 100%;
}

.image-hover:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}
/* Add this to your existing style.css file */

@keyframes fadeInVideo {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.video-tile {
    opacity: 0;
}

.video-tile.animated {
    animation: fadeInVideo 0.8s ease-out forwards;
}
.fade-in-left {
    opacity: 0;
    animation: fadeInFromLeft 0.8s ease-out forwards;
}

/* Adjust the existing .section-fade class */
.section-fade {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.section-fade.visible {
    opacity: 1;
    transform: translateX(0);
}
/* Add this to your existing style.css file */

@keyframes quickFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.quick-fade-in {
    opacity: 0;
    animation: quickFadeIn 0.3s ease-out forwards;
}


#contact {
    padding-left: 50px;
    padding-right: 50px;
}